.roomIcon {
  width: 50px;
}

.icon-bar {
  background-color: white;
  margin-top: 13px;
  
  #border: 1px solid #d1d1d1;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
  border-top-left-radius: 2px;
  margin-bottom: 10px;
  div {
    padding: 0px;
    margin: 0px;
    cursor: pointer;

    .item {
      padding: 1px; //just set a value to get the icon bar and its elements sized right (lol)
    }

    .iconStatus {
      height: 2px;
      width: 100%;
      background-color: transparent; //initial value
      margin: 0px;
      padding: 0px;
    }

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.tab-bar {
  .searchBoxContent {
    margin-top:6px !important; //!important to overwrite some values inherited from foundation I guess
    padding-top:0px !important;

    .searchInputContainer {
      width: 85%;
      float: left; //to display button aligned
      display: flex; //fixes a problem which doesn't make the input stay aligned on firefox

      .searchInput {
        height: 32px;
        display: table-cell;
        vertical-align: middle;
        border-right: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;

        //fixes a margin between the tab-bar and the content section on firefox
        margin-bottom: 0px;
        &:focus {
          background-color: #ffffff;
          outline: none;
          border: 1px solid #d0d0d0;
          border-right: none;
          //removes shadow
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    .searchButtonContainer {
      width: 15%;
      float: right !important; //makes the button stay aligned to the input on chrome (!important to overwrite some value inherited from foundation I guess)

      .searchButton {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        color: #333;
        height: 32px;
        background-color: #f8f8f8;
        border: solid 1px #d3d3d3;
        font-size: 12px;
        text-align: center;

        .searchImage {
          width: 80%;
          height: 80%;
          margin-bottom: 5px;
        }

        //fixes a margin between the tab-bar and the content section on firefox
        margin-bottom: 0px;
        &:hover {
          background-color: #efefef;
        }
      }
    }

    img {
      width: 15px;
      vertical-align: middle;
    }
  }
}

.result {
  margin-bottom: 5px;

  .label {
    font-size: 14px;
  }
  .updated {
    background-color: transparent;
    color: gray;
  }
  .header {
    .panel {
      box-shadow: rgba(0, 0, 0, .2) 0px 2px 4px;
      border-radius: 2px;
      background: white;
      border: solid transparent;
      margin-bottom: 1px;
      padding-bottom: 18px;
      .full {
        background-color: red;
      }
      .empty {
        background-color: green;
      }
      .half {
        background-color: orange;
      }
      .favoriteIcon {
        width: 40px;
        float: right; //puts the favorite star on the right of the result header
        top: 28px;
        right: 40px; //they keep the favorite star on left side
      }
    }
  }
  .content {
    .panel {
      box-shadow: rgba(0, 0, 0, .2) 0px 4px 8px;
      margin: auto;
      background-color: #fbfbfb;
      padding-bottom: 0px;
      display: none; //initial value

      .title {
        color: black;
        background-color: transparent;
      }
      .location {
        background-color: gray;
      }
      .status {
        font-size: 11px;
      }
      .detail {
        background-color: transparent;
      }
      .emptyStatus {
        border-width: 1px;
        color: green;
      }
      .averageStatus {
        border-width: 1px;
        color: orange;
      }
      .fullStatus {
        border-width: 1px;
        color: red;
      }
      .feedback {
        margin-left: 20px;
      }
      .mapContainer {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        padding-bottom: 20px;

        img {
          max-width: none;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .result {
    .header {
      .panel {
        padding-bottom: 0px;
        margin-bottom: 1px;

        .summaryHeader {
          display: block;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        .updated {
          padding-left: 0px;
        }
        .favoriteIcon {
          position: absolute;
          margin-top: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .websiteName {
    display: none;
  }
}