.roomIcon {
  width: 50px;
}

.icon-bar {
  background-color: white;
  border: 1px solid #d1d1d1;
  a {
    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.tab-bar {
  input {
    height: 32px;
    display: table-cell;
    vertical-align: middle;
    border-right: none;
    &:focus {
      background-color: #ffffff;
      outline: none;
      border: 1px solid #d0d0d0;
      border-right: none;
      //removes shadow
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .button {
    color: #333;
    height: 32px;
    width: 80px;
    background-color: #f8f8f8;
    border: solid 1px #d3d3d3;
    font-size: 12px;
    text-align: center;
    &:hover {
      background-color: #efefef;
    }
  }
  img {
    width: 15px;
    vertical-align: middle;
  }
  .searchBox{
    margin-top: 6px;
  }
}

.result{
  .label{
    font-size: 14px;
  }
  .updated {
    background-color: transparent;
    color: gray;
  }

  .header{
    .panel {
      box-shadow: rgba(0,0,0,.2) 0px 1px 4px;
      border-radius: 2px;
      background: white;
      border: solid transparent;
      margin-bottom: 1px;
    }
  }
  .content{
    .panel {
      margin: auto;
      background-color: #fbfbfb;
      .title {
        color: black;
        background-color: transparent;
      }
      .location {
        background-color: gray;
      }
      .status {
        font-size: 11px;
      }
      .detail{
        background-color: transparent;
      }
      .emptyStatus{
        color:darkgreen;
      }
      .averageStatus{
        color:orangered;
      }
      .fullStatus{
        color:red;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .result{
    .header{
      .panel {
        .iconAndName{
          clear: both;
        }
        .summaryHeader{
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .title {
    display: none;
  }
}
