@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-color: #e5e5e5;
  color: #3f3f3f;
  font-family: Roboto;
  min-width: 270px;
  overflow:hidden;
}

.panel {
  box-shadow: rgba(0, 0, 0, .2) 1px 1px 2px;
  border-radius: 2px;
  background: white;
  border: solid transparent;
    cursor: pointer;
box-shadow: 0px 2px 4px rgba(0,0,0,0.20);
}

//makes the content fit the whole browser and makes the page scrollable
.main-section{
   height: 93vh;
  background-color: transparent;
  .main-content{
    overflow-y: scroll;
    height: 100%;

    //fixes a bug on firefox
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
  }
}

.tab-bar {
  background-color: white;
  border-bottom: 1px solid #d1d1d1;
  height: 46px; //fixes the bar which was 1 px smaller than the toggle
  h1 {
    color: #3f3f3f;
    font-family: "Indie Flower";
    font-size: 24px;
    text-align: left;
  }
  .menu-icon {
    background-color: #fb8521;
  }
}

.left-off-canvas-menu {
  background-color: #ffffff;
  .off-canvas-list {
    li {
        text-decoration: underline;
      label {
        border: none;
        background-color: #fb8521;
        color: #ffffff;
      }
      a {
        border-color: #cccccc;
        color: #ff790a;
      }
    }
    li:hover{
      a{
        background-color: #f0f0f0;
      }
    }
  }
}

.move-right, .move-left{
  .exit-off-canvas {
    box-shadow: #5a5a5a 0px 0px 7px;
  }
}

textarea{
  background-color: #fafafa;
  height: 100px;
}
