{% extends "layout.jinja2" %}

{% block title %}Contribute! - {{ super() }}{% endblock %}

{% block content %}
    <div class="row" id="contributeSection">
        <!--ALERTS-->
        <div class="small-12 large-centered columns">
            <div data-alert class="alert-box success radius">
                Thank you very much for contributing to the development of this webapp!
                <a href="#" class="close">&times;</a>
            </div>
        </div>

        <div class="small-12 large-centered columns">
            <div data-alert class="alert-box secondary">
                Which features would you like to see in the next release?
                <a href="#" class="close">&times;</a>
            </div>
        </div>

        <!--PANEL-->
        <div class="small-12 large-centered columns">
            <div class="panel callout radius">
                <h5>Contribute</h5>
                <br>
                <form data-abide id="contributeForm">
                    <label>Insert your ideas here:
                        <textarea placeholder=""></textarea>
                    </label>
                    <div class="row">
                        <div class="small-3 small-centered columns">
                            <a id="contributeSubmit" class="tiny button success radius">Send now</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}