{% extends "layout.jinja2" %}

{% block title %}Contribute - {{ super() }}{% endblock %}

{% block content %}
    <div class="row" id="contributeSection">
        <!--PANEL-->
        <div class="small-12 large-centered columns">
            <div class="panel">
                <h5><strong>Contribute</strong></h5>
                <br>
                <form data-abide id="contributeForm">
                    <label>Would you like some new features, did you find a bug in the webapp... ?
                        <textarea placeholder="Insert your message here..."></textarea>
                    </label>
                    <div class="row">
                        <div class="small-3 small-centered columns">
                            <a id="contributeSubmit" class="tiny secondary button radius">Send now</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}