{% extends "layout.jinja2" %}

{% block title %}Contribute! - {{ super() }}{% endblock %}

{% block content %}
    <div class="row" id="contributeSection">
        <!--PANEL-->
        <div class="small-12 large-centered columns">
            <div class="panel">
                <h5>Contribute</h5>
                <br>
                <form data-abide id="contributeForm">
                    <label>Insert you message here:
                        <textarea placeholder=""></textarea>
                    </label>
                    <div class="row">
                        <div class="small-3 small-centered columns">
                            <a id="contributeSubmit" class="tiny button secondary radius">Send now</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}