{% extends "layout.jinja2" %}

{% block title %}Dashboard - {{ super() }}{% endblock %}

{% block css %}
    {{ super() }}
    <!--MAP-->
    <link rel="stylesheet" href="{{ 'website:static/css/dashboard.css' | static_url }}"/>
    <style type="text/css">
        #map {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        #selectedOrderby {
            background-color: rgb(0, 140, 186);
        }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&language=it"></script>
    <script type="text/javascript">
        function initialize() {
            // Create an array of styles.
            var styles = [
                {
                    stylers: [
                        { hue: "#fcf505" },
                        { saturation: -25 }
                    ]
                },{
                    featureType: "all",
                    elementType: "labels",
                    stylers: [
                        { visibility: "off" }
                    ]
                },
                {
                    featureType: "road",
                    elementType: "geometry",
                    stylers: [
                        { lightness: 95 },
                        { visibility: "simplified" }
                    ]
                },{
                    featureType: "administrative.locality",
                    elementType: "labels",
                    stylers: [
                        { visibility: "on" }
                    ]
                },
                {
                    featureType: "road",
                    elementType: "labels.text",
                    stylers: [
                        { visibility: "on" }
                    ]
                }
            ];

            // Create a new StyledMapType object, passing it the array of styles,
            // as well as the name to be displayed on the map type control.
            var styledMap = new google.maps.StyledMapType(styles,
                    {name: "StudySpace4Me"});

            // Create a map object, and include the MapTypeId to add
            // to the map type control.
            var trento = new  google.maps.LatLng(46.0804614,11.1203557);
            var mapOptions = {
                center: trento,
                zoom: 12,
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'stile']
                }
            };

            var map = new google.maps.Map(document.getElementById('map'),
                    mapOptions);

            var groundFloor=new google.maps.KmlLayer({
                url: 'https://sites.google.com/site/publickmlstorage/files/gfloor.kml',
                preserveViewport: true,
                suppressInfoWindows:false
            });
            groundFloor.setMap(map);
            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('stile', styledMap);
            map.setMapTypeId('stile');
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block urgentjs %}
    {{ super() }}
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}

{% block searchbox %}
    <section class="middle">
        <div class="row">
            <div class="small-8 columns">
                <div class="row collapse">
                    <div class="small-8 columns">
                        <input type="text" placeholder="Search...">
                    </div>
                    <div class="small-4 columns">
                        <a href="#" class="button postfix">
                            <img src="{{ 'website:static/assets/icons/search.svg' | static_url }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div id="dashboardSection">

     {#<!--ALERTS-->
        <div class="row">
            <div class="small-12 large-centered columns">
                <div data-alert class="alert-box info radius">
                    Hi <span id="studentName">!</span> Welcome to your dashboard.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>#}

        <!--ORDER BY-->
        <div class="row" id="orderbyContent">
            <div class="small-12 large-centered columns">
                <div class="row collapse prefix-radius">
                    <div class="icon-bar four-up">
                        <a class="item" id="all">
                            <img src="{{ 'website:static/assets/icons/all.svg' | static_url }}">
                        </a>
                        <a class="item" id="favorites">
                            <img src="{{ 'website:static/assets/icons/favorite.svg' | static_url }}">
                        </a>
                        <a class="item" id="nearest">
                            <img src="{{ 'website:static/assets/icons/near.svg' | static_url }}">
                        </a>
                        <a class="item" id="crowding">
                            <img src="{{ 'website:static/assets/icons/crowd.svg' | static_url }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--RESULT-->
        <div id="firstResult">

            <!--HEADER-->
            <div class="row" id="headerResult">
                <div class="small-12 large-centered columns">
                    <div class="panel">
                        <div class="row">

                            <div class="medium-2 columns">
                                <img src="{{ 'website:static/assets/icons/computer.svg' | static_url }}" class="roomIcon"><img>
                                &nbsp;
                                <strong>
                            <span id="spaceName">
                              B106
                            </span>
                                </strong>
                            </div>

                            <!--HIDE WHEN CLICKED-->
                            <!--creating a span with id="summaryHeader" doesn't work-->
                            <div class="medium-2 columns summaryHeader">
                          <span id="location">
                            Povo A, 1st Floor
                          </span>
                            </div>

                            <!--HIDE WHEN CLICKED-->
                            <div class="medium-5 columns summaryHeader">
                                <!--FULL=alert, AVG=warning, FREE=success-->
                                <span style="font-size:11px;">Status:</span>
                                <label class="alert radius label" id="headerStatus">Full</label>
                            </div>

                            <div class="medium-2 columns end">
                                <label style="color:white; text-decoration:underline;" id="headerButton">More info</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--CONTENT-->
            <div class="row" id="contentResult">
                <div class="small-12 large-centered columns">
                    <div class="panel">
                        <div class="row">

                            <div class="row">
                                <div class="small-8 small-centered columns" id="mapContainer">
                                    <!--TODO: Doesn't work!!!-->
                                    <!--<div class="flex-video">
                                      <div id="map"></div>-
                                    </div>-->

                                    <!--IMAGE EXAMPLE-->
                                    <img src="{{ 'website:static/assets/images/map.png' | static_url }}">
                                </div>
                            </div>

                            <div class="small-12 large-centered columns">
                                <label class="secondary radius label" style="background-color:transparent; color:black;"><strong>Info:</strong></label>
                            </div>

                            <div class="small-12 large-centered columns">
                                <label class="secondary radius label">Location: </label>
                                &nbsp;<label class="radius label" style="background-color:gray;" id="locationName">Povo A, 1st Floor</label>
                            </div>

                            <!--I think it doesn't need a description because there already an image that describes it-->
                            <!--<div class="small-12 large-centered columns">
                              <label class="secondary radius label">Description: </label><span style="font-size:12px" id="description">&nbsp;"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</span>
                            </div>-->

                            <div class="small-12 large-centered columns">
                                <!--FULL=alert, AVG=warning, FREE=success-->
                                <label class="secondary radius label">Status:</label>
                                &nbsp;<label class="alert radius label" id="status">Full</label>
                            </div>

                            <div class="small-12 large-centered columns">
                                <!--TODO: give a nice click effect-->
                                <label class="secondary radius label">Map:</label>
                                &nbsp;<label class="secondary radius label" id="mapButton"><a>Click to view</a></label>
                            </div>

                            <div class="small-12 large-centered columns">
                                <label class="secondary radius label" style="background-color:transparent; color:black;"><strong>Pictures:</strong></label>
                            </div>

                            <div class="small-12 columns">
                                <ul class="clearing-thumbs" data-clearing="" style="">
                                    <li>
                                        <a class="th" href="{{ 'website:static/assets/images/picture.png' | static_url }}">
                                            <img data-caption="This a test." src="{{ 'website:static/assets/images/thumbnail.png' | static_url }}">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}