{% extends "layout.jinja2" %}

{% block title %}Dashboard - {{ super() }}{% endblock %}

{% block css %}
    {{ super() }}

    <link rel="stylesheet" href="{{ 'website:static/css/dashboard.css' | static_url }}"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&language=it"></script>
    <script type="text/javascript" src="{{ 'website:static/js/dynamicmap.js' | static_url }}"></script>
{% endblock %}

{% block urgentjs %}
    {{ super() }}

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="{{ 'website:static/js/angular.js' | static_url }}"> </script>
    <script src="{{ 'website:static/js/moment.js' | static_url }}"> </script>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}

{% block searchbox %}
        <div class="row">
            <div class="small-8 small-centered columns">
                <div class="row collapse searchBoxContent">
                    <div class="small-8 small-centered columns searchInputContainer">
                        <input id="searchInput" class="input" type="text" ng-model="searchQuery" placeholder="Room Name">
                    </div>
                    <div class="small-4 small-centered columns searchButtonContainer" id="searchButton" ng-click="searchClick()">
                        <a class="button postfix">
                            <img class="searchImage" src="{{ 'website:static/assets/icons/search.svg'  | static_url }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
    <!--WHERE THE MAP IS LOADED, THEN IS TRANSFERRED-->
    <div>
        <div id="map" style="width: inherit; height: inherit;"></div>
    </div>

    <div id="dashboardSection">
        <!--FILTER-->
        <div class="row">
            <div class="small-12 large-centered columns">
                <div class="row collapse prefix-radius">
                    <div class="icon-bar two-up">
                        <div ng-click="fetch('all')">
                            <a class="item">
                                <img src="{{ 'website:static/assets/icons/all.svg' | static_url }}">
                            </a>
                            <div id="all" class="iconStatus"></div>
                        </div>
                        <div ng-click="fetch('favorites')">
                            <a class="item">
                                <img src="{{ 'website:static/assets/icons/favorites.svg' | static_url }}">
                            </a>
                            <div id="favorites" class="iconStatus"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ORDERBY-->
        <div class="row">
            <div class="small-12 large-centered columns">
                <div class="row collapse prefix-radius">
                    <dl class="sub-nav">
                        <dt><strong>Orderby:</strong></dt>
                        <dd><a class="orderbyItem" id="orderbyName" ng-click="orderbyFunc('Name')">Name</a></dd>
                        <dd><a class="orderbyItem" id="orderbyCrowding" ng-click="orderbyFunc('Crowding')">Crowding</a></dd>
                        <dd><a class="orderbyItem" id="orderbyAvailabilityTime" ng-click="orderbyFunc('AvailabilityTime')">Availability Time</a></dd>
                        <dd><a class="orderbyItem" id="orderbyLatestUpdate" ng-click="orderbyFunc('LatestUpdate')">Latest Update</a></dd>
                        {#<dd><a class="orderbyItem" id="orderbyNearest" ng-click="orderbyFunc('Nearest')">Nearest</a></dd>#}
                    </dl>
                </div>
            </div>
         </div>

        <!--RESULT-->
        <div class="result" ng-repeat="x in results.rooms | filter:filterIconBarQuery:false | filter:filterSearchBarQuery:false | filter:filterBusy:false | orderBy:orderbyPredicate:orderbyReverse">
            <!--HEADER-->
            <div class="row header" id="headerResult">
                <div class="small-12 large-centered columns">
                    <div class="panel" ng-click="showContent(x.name);">
                           <span class="iconAndName">
                                <img ng-src="[[getRoomIcon(x.type)]]" class="roomIcon"><img>
                                &nbsp;
                                <strong>
                                    <span id="spaceName"> [[x.name]] </span>
                                </strong>
                           </span>

                           &nbsp;&nbsp;&nbsp;&nbsp;

                           <span class="summaryHeader">
                               <span id="location">
                                   [[x.location]]
                               </span>
                               <span id="until">
                                   <i>([[getTime(x.status.until)]]) :</i>
                               </span>
                               &nbsp;
                               <label class="radius label status" ng-style="getBackground(x.feedback)" id="headerStatus">[[x.feedback]]</label>
                               <label class="radius label updated" id="updated"><i>[[getLastUpdate(x.lastUpdate)]]</i></label>
                           </span>

                           <span class="favoriteStar">
                               <img ng-src="[[getFavoriteImage(x.favorite)]]" ng-click="changeFavorite([['favorite' + x.name]]); $event.stopPropagation();" class="favoriteIcon" id="[['favorite' + x.name]]"><img>
                           </span>
                    </div>
                 </div>
            </div>

            <!--CONTENT-->
            <div class="row content">
                <div class="small-12 large-centered columns">
                    <div class="panel contentPanel " id="[[x.name]]">
                        <div class="feedback">
                            <label class="title">Give your feedback:</label>
                            <ul class="button-group round">
                                <li><a href="#" class="tiny secondary button emptyStatus">&nbsp;Empty</a></li>
                                <li><a href="#" class="tiny secondary button averageStatus">Average</a></li>
                                <li><a href="#" class="tiny secondary button fullStatus">&nbsp;Full&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            </ul>
                        </div>

                        <div class="mapContainer" id="[['map' + x.name]]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}