<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}SS4ME{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
        <link rel="stylesheet" href="{{ 'website:static/css/foundation.css' | static_url }}" />
        <link rel="stylesheet" href="{{ 'website:static/css/screen.css' | static_url }}" />
    {% endblock %}
    {% block urgentjs %}
        <script src="{{ 'website:static/js/vendor/modernizr.js' | static_url }}"></script>
    {% endblock %}

</head>
<body style="overflow:hidden;">
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">Study Space For Me</h1>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>StudySpace4.me</label></li>
                {#            <span id="beforeLogin">#}
                <li id="loginButton"><a href="{{ request.route_url('login') }}">Login</a></li>
                <li id="signUpButton"><a href="{{ request.route_url('register') }}">Sign up</a></li>
                {#            </span>#}
                {#            <span id="afterLogin">#}
                <li id="dashboardButton"><a href="{{ request.route_url('dashboard') }}">Dashboard</a></li>
                <li id="preferencesButton"><a href="{{ request.route_url('preferences') }}">Preferences</a></li>
                <li id="contributeButton"><a href="{{ request.route_url('contribute') }}">Contribute</a></li>
                <li id="termsofuseButton"><a href="{{ request.route_url('terms') }}">Terms of use</a></li>
                <li id="logout"><a href="{{ request.route_url('logout') }}">Logout</a></li>
                {#            </span>#}
            </ul>
        </aside>

        <section class="main-section" style="height: 93vh;">
            <!--DONNOT REMOVE THIS ADDITIONAL STYLE-->
            <!--this additional style makes it fit the whole browser and makes the page scrollable-->
            <div class="content" style="overflow-y: scroll; height: 100%;">
                <br>
                {% block content %}{% endblock %}
                <a class="exit-off-canvas"></a>
            </div>
        </section>
    </div>
</div>
{% block js %}
    <script src="{{ 'website:static/js/vendor/jquery.js' | static_url }}"></script>
    <script src="{{ 'website:static/js/foundation.min.js' | static_url }}"></script>
    <script src="{{ 'website:static/js/foundation/foundation.orbit.js' | static_url }}"></script>
    <script src="{{ 'website:static/js/generic.js' | static_url }}"
    <script src="{{ 'website:static/jquery/jquery-1.11.1.min.js' | static_url }}"></script>
{% endblock %}
</body>
</html>