<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}SS4ME{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
        <link rel="stylesheet" href="{{ 'website:static/css/foundation.css' | static_url }}" />
        <link rel="stylesheet" href="{{ 'website:static/css/layout.css' | static_url }}" />
    {% endblock %}
    {% block urgentjs %}
        <script src="{{ 'website:static/js/vendor/modernizr.js' | static_url }}"></script>
    {% endblock %}
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left">
                    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="left">
                    <h1 class="websiteName">&nbsp;&nbsp;&nbsp;Study Space For Me</h1>
            </section>

            <section>
                {% block searchbox %}{% endblock %}
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li id="dashboardButton"><a href="{{ request.route_url('dashboard') }}">Dashboard</a></li>
                <li id="preferencesButton"><a href="{{ request.route_url('preferences') }}">Preferences</a></li>
                <li id="contributeButton"><a href="{{ request.route_url('contribute') }}">Contribute</a></li>
                <li id="termsofuseButton"><a href="{{ request.route_url('terms') }}">Terms of use</a></li>
            </ul>
        </aside>

        <section class="main-section">
            <div class="main-content">
                <br>
                {% block content %}{% endblock %}
                <a class="exit-off-canvas"></a>
            </div>
        </section>
    </div>
</div>
{% block js %}
    <script src="{{ 'website:static/js/vendor/jquery.js' | static_url }}"></script>
    <script src="{{ 'website:static/js/foundation.min.js' | static_url }}"></script>
    <script src="{{ 'website:static/js/foundation/foundation.orbit.js' | static_url }}"></script>
    <script src="{{ 'website:static/js/generic.js' | static_url }}"
    <script src="{{ 'website:static/jquery/jquery-1.11.1.min.js' | static_url }}"></script>
{% endblock %}
</body>
</html>