{% extends "layout.jinja2" %}

{% block title %}Login - {{ super() }}{% endblock %}

{% block content %}
    <br/>
    <div id="loginSection">
        <!--ALERTS-->
        <div class="row" id="logginSucceed">
            <div class="small-12 large-centered columns">
                <div data-alert class="alert-box success radius">
                    Login succeeded.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>

            <!--PANEL-->
            <div class="small-12 large-centered columns">
                <div class="panel callout radius">
                    <h5>Login</h5>
                    <br>
                    <form data-abide id="loginForm">
                        <div class="email-field">
                            <div class="row collapse prefix-radius">
                                <div class="small-3 columns">
                                    <span class="prefix">Email</span>
                                </div>
                                <div class="small-9 columns">
                                    <input type="email" placeholder="firstname.lastname@unitn.it" required>
                                    <small class="error">An email address is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="password-field">
                            <div class="row collapse prefix-radius">
                                <div class="small-3 columns">
                                    <span class="prefix">Password</span>
                                </div>
                                <div class="small-9 columns">
                                    <input type="password" placeholder="password" required>
                                    <small class="error">The password is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="small-3 small-centered columns">
                            <a id="loginSubmit" class="tiny button radius">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}