{% extends "layout.jinja2" %}

{% block title %}Settings - {{ super() }}{% endblock %}

{% block css %}
    {{ super() }}

    <link rel="stylesheet" href="{{ 'website:static/css/preferences.css' | static_url }}"/>
{% endblock %}

{% block content %}
<div id="preferencesSection">
    <!--PANEL-->
    <div class="row">
        <div class="small-12 large-centered columns">
            <div class="panel">
                <h5><strong>Preferences</strong></h5>
                <br>
                <!--LOAD WITH AJAX THE DEPARTMENTS-->
            </div>
        </div>
    </div>

</div>
{% endblock %}