{% extends "layout.jinja2" %}

{% block title %}Sign up - {{ super() }}{% endblock %}

{% block content %}
    <div id="signupSection">
        <!--ALERTS-->
        <div class="row" id="singupSucceed">
            <div class="small-12 large-centered columns">
                <div data-alert class="alert-box success radius">
                    Sign up succeeded.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>


        <!--PANEL-->
        <div class="row">
            <div class="small-12 large-centered columns">
                <div class="panel callout radius">
                    <h5>Sign up</h5>
                    <br>
                    <form data-abide id="signupForm">
                        <div class="text-field">
                            <div class="row collapse prefix-radius">
                                <div class="small-3 columns">
                                    <span class="prefix">Firstname</span>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" placeholder="firstname" required>
                                    <small class="error">Your firstname is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="text-field">
                            <div class="row collapse prefix-radius">
                                <div class="small-3 columns">
                                    <span class="prefix">Lastname</span>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" placeholder="lastname" required>
                                    <small class="error">Your lastname is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="select-box">
                            <div class="row collapse prefix-radius">
                                <div class="small-3 columns">
                                    <span class="prefix">Department</span>
                                </div>
                                <div class="small-9 columns">
                                    <select required>
                                        <option value=""></option>
                                        <option value="Altro">Altro</option>
                                        <option value="ScienzeInformazione">Scienze dell'Informazione</option>
                                    </select>
                                    <small class="error">Your department is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="password-field">
                            <div class="row collapse prefix-radius">
                                <div class="small-3 columns">
                                    <span class="prefix">Password</span>
                                </div>
                                <div class="small-9 columns">
                                    <input type="password" placeholder="password" required>
                                    <small class="error">The password is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="password-field">
                            <div class="row collapse prefix-radius">
                                <div class="small-3 columns">
                                    <span class="prefix">Repeat Password</span>
                                </div>
                                <div class="small-9 columns">
                                    <input type="password" placeholder="repeat password" required>
                                    <small class="error">The password is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="small-3 small-centered columns">
                            <a id="signupSubmit" class="tiny button radius">Sign up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}