{% extends "layout.jinja2" %}

{% block title %}Settings - {{ super() }}{% endblock %}

{% block content %}
    <br/>
    <div id="settingsSection">

        <div class="row">
            <div class="small-12 large-centered columns">
                <div data-alert class="alert-box info radius">
                    Hi <span id="studentName">Omar</span>! Set up your webapp as you need.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>


        <!--PANEL-->
        <div class="row">
            <div class="small-12 large-centered columns">
                <div class="panel callout radius">
                    <h5>Settings</h5>
                    <br>
                    <form id="settingsForm">
                        <div class="row">
                            <div class="small-12 large-centered columns">
                                <div class="row collapse prefix-radius">
                                    <div class="small-3 columns">
                                        <span class="prefix">Department</span>
                                    </div>
                                    <div class="small-9 columns">
                                        <select>
                                            <option value="ScienzeInformazione">Scienze dell'Informazione</option>
                                            <option value="Altro">Altro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="small-3 small-centered columns">
                            <a id="settingsSubmit" class="tiny button radius">Apply</a>
                        </div>

                        <p>The devevelopment of this section is still in progress.</p>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}